<%= link_to "Create Collection", new_user_collection_url(current_user.id), class: 'button new-post-button' %>
<div class="view-content profile-content">
  <h1 class="username">Your Collections</h1>

  <ul>
    <% @collections.each do |collection| %>
      <%= image_tag collection.collection_photo.url(:small) %>
      <li><%= link_to collection.title, collection_url(collection.id) %></li>
    <% end %>
  </ul>
</div>
