<header class="image-container-home">

</header>

<div class="view-content">
  <form action="<%= user_collections_url(current_user.id) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


    <input placeholder="Title" id="title-input" type="text" name="collection[title]" class="title-input" value="<%= @collection.title %>">

    <button class="button new-post-button" id="publish">Create Collection</button>

  </form>
</div>
