<header class="image-container-home">

</header>

<h1>New Collection</h1>

<form action="<%= user_collections_url(current_user.id) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label id="title-input">Title</label>
  <input type="text" name="collection[title]" value="<%= @collection.title %>">

  <button>Create Collection</button>

</form>
