<div class="view-content profile-content">
  <h1 class="username">Subscriptions</h1>

  <ul class="posts-index clearfix">
  <% _(subscriptions).each(function(subscription) { %>
    <% var user = FictiousApp.users.get(subscription.get('user_id')) %>
    <a href="/#users/<%= user.id %>" class="subscription-user">
      <div class="subscription-content clearfix">
        <% debugger %>
        <img src="<%= user.get('profile_picture_url') %>" class="subscription-pic">
        <h3><li><%= user.get('username') %></li></h3>
      </div>
    </a>
  <% }) %>
  </ul>

</div>
