<div class="view-content profile-content">
  <h1 class="username">Subscriptions</h1>

  <ul class="posts-index clearfix">
  <% _(subscriptions).each(function(subscription) { %>
    <a href="/#users/<%= subscription.id %>" class="subscription-user">
      <div class="subscription-content clearfix">
        <% debugger %>
        <img src="<%= FictiousApp.users.get(subscription.id).get('profile_picture_url') %>" class="subscription-pic">
        <h3><li><%= subscription.username %></li></h3>
      </div>
    </a>
  <% }) %>
  </ul>

</div>
