<header class="image-container-home">

</header>

<div class="view-content">

<h1>Create a Writers' Group</h1>

  <form action="<%= user_groups_url(current_user.id) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input placeholder="Group name" type="text" class="group-name-input" name="group[name]" value="">

    <button class="button new-post-button">Create Group</button>
  </form>

</div>
