<h1><%= @user.username %></h1>
<%= button_to "Follow", user_subscriptions_url(@user), method: :post %>

<h3><%= @user.username %>'s Recent Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_url(post.id) %></li>
  <% end %>
</ul>
