
<div class="view-content profile-content">
  <h1 class="username">Subscriptions</h1>

  <ul class="posts-index clearfix">
  <% @subscriptions.each do |subscription| %>
    <a href="<%= user_url(subscription.id) %>" class="subscription-user">
      <div class="subscription-content clearfix">
        <%= image_tag subscription.profile_picture.url(:regular), class: "subscription-pic" %>
        <h3><li><%= subscription.username %></li></h3>
      </div>
    </a>
  <% end %>
  </ul>

</div>
