// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  display: block;
}

.hidden {
}

#title-input {
  font-size: 50px;
  font-weight: bold;
}

.view-content h1 {
  font-size: 50px;
  color: black;
  margin-bottom: 15px;
}
