// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  display: block;
}

.hidden {
  display: none;
}

h1.username {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.view-content.profile-content {
  position: relative;
  top: 100px;
}
